@page "/"

@using CS341_YMCA.Helpers
@using CS341_YMCA.Services

@inject SiteUserRepository SiteUsers
@inject ClassRepository Classes

<PageTitle>Home</PageTitle>

@* USER HOME GREETING *@
<h1>Howdy, <strong>@LoggedIn.FirstName</strong>!</h1>
<hr />
<h3>We're glad you stopped by.</h3>

<div class="row mt-4">
    <div class="col-lg-6">
        <div style="height: 46em;border: 1px solid grey; border-radius: 0.2em;" class="overflow-auto shadow">
            <a style="float: right;" target="_blank" href="CS341_UserGuide.pdf">
                <h3 class="oi oi-external-link m-4"></h3>
            </a>
            
            <h3 class="m-4">Getting Started</h3>
            <iframe style="display: block;height: min(100% - 6em);width: 100%;"
                src="CS341_UserGuide.pdf"></iframe>
        </div>
    </div>
    <div class="col-lg-6">

        @* MEMBERSHIP STATUS CARD *@
        <div class="card mb-4">
        <div class="card-header">Your membership status</div>
        <div class="card-body">
            @if (LoggedIn.Id == 0)
            {
                @* DISPLAYED FOR GUEST USER *@

                <h5>Please <a href="SiteUser/LoginFlow">log in</a> or <a href="SiteUser/RegisterFlow">register</a>
                    to view membership status.</h5>
            } else if (LoggedIn.MemberThru == null)
            {
                @* DISPLAYED FOR NONMEMBERS *@

                <h5>You are not a member. You can purchase a membership by calling or visiting your local YMCA.</h5>
                <br />
                <a class="btn btn-info" href="https://www.laxymca.org/membership/" target="_blank">View Pricing</a>
            } else if (!LoggedIn.IsMember)
            {
                @* DISPLAYED FOR EXPIRED MEMBERS *@

                <h5>It looks like your membership expired on <strong>@(LoggedIn.MemberThru.Value.ToLongDateString()).
                    If you would like to renew your membership, please call or visit your local YMCA.
                </strong></h5>
                <br />
                <a class="btn btn-info" href="https://www.laxymca.org/membership/" target="_blank">View Pricing</a>
            } else
            {
                @* DISPLAYED FOR MEMBERS *@

                <h5>You are an active member! Your membership is valid until:</h5>
                <h2>@LoggedIn.MemberThru.Value.ToLongDateString()</h2>
            }
        </div>
        </div>

        @* PAYMENT HISTORY CARD *@
        <div class="card mb-4">
        <div class="card-header">Your payment history</div>
        <div class="card-body overflow-auto p-2" style="height: 24em;">
            @* GRAB LIST OF PAYMENTS INLINE *@
            @{ var UserPayments = LoggedIn.Id == 0 ? new List<UserPaymentDBO>() : SiteUsers.SiteUserPayments_GetByUserId(LoggedIn.Id).Get()!; }
            @if (LoggedIn.Id == 0)
            {
                @* DISPLAYED FOR GUEST USER *@

                <h5>Please <a href="SiteUser/LoginFlow">log in</a> or <a href="SiteUser/RegisterFlow">register</a>
                    to view payment history.</h5>
            } else if (UserPayments.Count == 0)
            {
                @* DISPLAYED FOR NO PAYMENTS *@

                <h5>You have no payment history to view.</h5>
            } else
            {
                @* TABLE OF PAYMENT DETAILS *@
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Item</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Card Number</th>
                        <th scope="col">Expr.</th>
                    </tr>
                </thead>
                <tbody>

                @* LOOP THROUGH TABLE ROWS *@
                @foreach (var payment in UserPayments.OrderByDescending((It) => It.Id))
                {
                    <tr>
                        <td><strong>@payment.Paid.ToShortDateString()</strong> @@ @payment.Paid.ToShortTimeString()</td>
                        <td>@((MarkupString)(payment.Item is null ? "&mdash;" : payment.Item))</td>
                        <td>$@payment.Amount.ToString("0.00")</td>
                        <td><i>&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp; &middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp; &middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp; @payment.CardNumber[^4..]</i></td>
                        <td>@payment.CardExpiry.Month/@payment.CardExpiry.Year.ToString()[^2..]</td>
                    </tr>
                }

                </tbody>
                </table>
            }
        </div>
        </div>
    </div>
</div>

@code {
    /// <summary>
    /// DBO of the currently logged in user.
    /// </summary>
    [CascadingParameter]
    protected SiteUserDBO LoggedIn { get; set; } = new();
}