@page "/ManageClasses/{Id}"

@using CS341_YMCA.Components

<PageTitle>Manage Class</PageTitle>

@* DISPLAY VALIDATION ERROR IF EXISTS *@
@if (!string.IsNullOrEmpty(validationMessage))
{
    <div class="alert alert-warning">@validationMessage</div>
}

@* DELETE CONFIRM MODAL *@
<BsModal @ref=deleteModal
    SubmitText="Delete"
    SubmitAction=DeleteDialogSubmit
    SubmitClass="danger">

    <Title>You are about to delete the class <strong>'@(activeClass.ClassName)'</strong></Title>
    <Body>
        <p class="font-weight-bold">This action cannot be undone. Are you sure you wish to continue?</p>
        <ul class="text-danger">
            <li>Payments for this course will <strong>not</strong> be automatically refunded.</li>
            <li>All users will be dropped from the course, and the course will disappear from users' enrollment histories.</li>
            <li><strong>Ensure all patrons have been refunded accordingly prior to deleting any course or account.</strong></li>
        </ul>
    </Body>
</BsModal>

@* CANCEL CONFIRM MODAL *@
<BsModal @ref=cancelModal
    SubmitText="Continue"
    SubmitAction=CancelDialogSubmit
    SubmitClass="danger"
    CancelText="Go Back">

    <Title>You are about to cancel the class <strong>'@(activeClass.ClassName)'</strong></Title>
    <Body>
        <p class="font-weight-bold">You will be able to reverse this action as long as the class is not deleted.</p>
        <ul class="text-danger">
            <li>Payments for this course will <strong>not</strong> be automatically refunded.</li>
            <li>All who are enrolled in the course will be able to see that it is canceled.</li>
            <li><strong>Ensure all patrons have been refunded accordingly prior to canceling any course for good.</strong></li>
        </ul>
    </Body>
</BsModal>

@* MARK GRADE CONFIRM MODAL *@
<BsModal @ref=gradeModal
    SubmitText="Submit Grade"
    SubmitAction=GradeDialogSubmit
    SubmitClass="primary">

    <Title>Submitting Class Grade</Title>
    <Body>
        <p class="font-weight-bold">Class grades are final and cannot be easily reversed. Are you sure you wish to continue?</p>
    </Body>
</BsModal>

@* ALLOW ONLY ADMINS TO VIEW SETTINGS *@
@if (LoggedIn.IsAdmin)
{
    <div style="float: left;">

        @* BACK BUTTON *@
        <i role="button" class="oi oi-chevron-left m-3" onclick="history.back()"></i>

    </div>
    <div style="float: right;">

        
        @if (Id != "Create")
        {
            @if (activeClass.CanceledDate is null)
            {
                 @* CANCEL BUTTON IF NOT NEW *@
                <button class="btn btn-outline-danger m-2" @onclick="() => cancelModal!.Open()">Cancel Class</button>
            }
           
            @* DELETE BUTTON IF NOT NEW *@
            <button class="btn btn-outline-danger m-2" @onclick="() => deleteModal!.Open()">Delete Class</button>
        }

        @* SAVE BUTTON *@
        <button class="btn btn-success m-2" type="submit" @onclick="() => SaveForm(redirect: true)">Save Changes</button>
    
    </div>

    @* TITLE AREA *@
    <h1>Class Editor</h1>
    <br style="height: 0;display: block;" />
    <hr />
    
    <EditForm Model=activeClass>
    <div class="row">
    <div class="col-lg-8">
    @* PAGE LEFT COLUMN BEGINS HERE *@

    <h3>Manage details for '@activeClass.ClassName'</h3>

    @if (activeClass.CanceledDate is not null)
    {
        <div class="alert alert-danger mt-3">
            <button class="btn btn-outline-danger float-end" @onclick="() =>
            {
                Classes!.Class_Cancel(activeClass.Id, IsUndo: true);
                activeClass.CanceledDate = null;
                StateHasChanged();
            }">Undo Cancelation</button>

            <div class="m-1">
                An admin has canceled this class. Enrollment is disabled unless it is reinstated.
            </div>
        </div>
    }

    @* CLASS NAME/LOCATION LABELS *@
    <div class="row">
        <div class="col-sm-8">
            <label>Class name:<i style="color: red">*</i></label>
        </div>
        <div class="col-sm-4">
            <label>Class location:</label>
        </div>
    </div>
    @* CLASS NAME/LOCATION FIELDS *@
    <div class="row">
        <div class="col-sm-8">
            <InputText class="form-control mb-2" type="text" @bind-Value=activeClass.ClassName />
        </div>
        <div class="col-sm-4">
            <InputText class="form-control mb-2" type="text" @bind-Value=activeClass.Location />
        </div>
    </div>
            
    @* SHORT DESCRIPTION TEXT INPUT *@
    <label>Short description:<i style="color: red">*</i></label>
    <InputText class="form-control mb-2" type="text" @bind-Value=activeClass.ShortDescription />        
    
    @* LONG DESCRIPTION TEXT AREA*@
    <label>Detailed description:</label>
    <InputTextArea rows=8 class="form-control mb-2" type="text" @bind-Value=activeClass.LongDescription />
    
    @* ENROLLMENT FREEZE TOGGLE *@
    <InputCheckbox class="mb-2" @bind-Value=activeClass.AllowEnrollment />&nbsp;
    <label>Allow Enrollment <i>(within dates)</i></label>

    @* VISIBLE IN CLASS BROWSER TOGGLE*@
    <InputCheckbox class="mb-2 ms-2" @bind-Value=activeClass.Enabled />&nbsp;
    <label>Show Publicly</label>

    <br />
    <br />
            
    <div class="row">
    <div class="col-lg-6">

        @* REQ. CODE FULFILLMENT EDITING *@
        <h3>Class Fulfills</h3>
        <CsvSelector Exclude=@(new())
            Csv=@activeClass.FulfillCsv
            @ref=fulfillSelector
            Items=@(Classes!.Class_ListReqs().Get()!)
            Callback="() =>
            {
                activeClass.FulfillCsv = fulfillSelector!.Csv!;
            }" />

    </div>
    <div class="col-lg-6">

        @* REQ. CODE REQUIREMENT EDITING *@
        <h3>Class Requires</h3>
        <CsvSelector Exclude=@(new())
            Csv=@activeClass.RequireCsv
            @ref=requireSelector
            Items=@(Classes!.Class_ListReqs().Get()!)
            Callback="() =>
            {
                activeClass.RequireCsv = requireSelector!.Csv!;
            }" />

    </div>
    </div>
            
    <h3 class="mt-4">Custom Course Photos</h3>
    <div class="row">
    <div class="col-lg-6 p-2">

        <div class="border border-dark p-2 rounded-3">
            @* REQ. CODE FULFILLMENT EDITING *@
            <PhotoPicker Label="Thumbnail" @ref=thumbPicker />
        </div>

    </div>
    <div class="col-lg-6 p-2">
        
        <div class="border border-dark p-2 rounded-2">
            @* REQ. CODE REQUIREMENT EDITING *@
            <PhotoPicker Label="Page Photo" @ref=photoPicker />
        </div>

    </div>
    </div>

    <br />

    @* CLASS SCHEDULE EDITOR *@
    <h3>Class Scheduler</h3>
    <hr />
    <ClassScheduler @ref=scheduler Class=@activeClass ShowEditing=@(enrolled.Count == 0)></ClassScheduler>
    @if (enrolled.Count > 0)
    {
        @* EDITING IS DiSABLED IF ANY USERS ENROLLED DUE TO VALIDATION LIMITATIONS *@
        <i>Class schedules are locked once the first user has enrolled.</i>
    }

    @* PAGE LEFT COLUMN ENDS HERE *@
    </div>
    <div class="col-lg-4">
    @* PAGE RIGHT COLUMN BEGINS HERE *@

    <h3 class="mb-4">Pricing and Enrollment</h3>

    @* MEMBER PRICING CARD *@
    <div class="card mb-4 shadow">
    <div class="card-header">Settings for Members</div>
    <div class="card-body">

        @* ENROLL START DATE/LENGTH LABELS *@
        <div class="row">
        <div class="col-sm-7">
            <label>Enrollment start date:</label>
        </div>
        <div class="col-sm-5">
            <label>Length (days):</label>
        </div>
        </div>
        @* ENROLL START DATE?LENGTH FIELDS *@
        <div class="row">
        <div class="col-sm-7">
            <InputDate class="form-control" @bind-Value=activeClass.MemberEnrollmentStart />
        </div>
        <div class="col-sm-5">
            <InputNumber step=1 min=1 class="form-control" @bind-Value=activeClass.MemberEnrollmentDays />
        </div>
        </div>
        <br />
            
        <label>Class fee for members:</label>
        <div class="row">
        <div class="col-sm-7">

            @* MEMBER FEE NUMBER FIELD *@
            <div class="input-group mb-3">
                <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                <InputNumber step="any" min=0 class="form-control" @bind-Value=activeClass.MemberPrice />
            </div>

        </div>
        </div>

    </div>
    </div>

    @* NON-MEMBER PRICING CARD *@
    <div class="card mb-4 shadow">
    <div class="card-header">Settings for non-members</div>
    <div class="card-body">

        @* ALLOW NON-MEMBERS TOGGLE *@
        <InputCheckbox @bind-Value=activeClass.AllowNonMembers />
        <span class="ms-2">Allow non-members to join this class</span>

        <br />
        <br />

        @* ONLY DISPLAY IF NON-MEMBERS ALLOWED *@
        @* COULD'VE USED AN @if STATEMENT      *@
        <div style="@NonMemberStyle">
            @* ENROLL START DATE/LENGTH LABELS *@
            <div class="row">
            <div class="col-sm-7">
                <label>Enrollment start date:</label>
            </div>
            <div class="col-sm-5">
                <label>Length (days):</label>
            </div>
            </div>
            @* ENROLL START DATE/LENGTH FIELDS *@
            <div class="row">
            <div class="col-sm-7">
                <InputDate class="form-control" @bind-Value=activeClass.NonMemberEnrollmentStart />
            </div>
            <div class="col-sm-5">
                <InputNumber step=1 min=1 class="form-control" @bind-Value=activeClass.NonMemberEnrollmentDays />
            </div>
        </div>
        <br />
                
        <label>Class fee for non-members:</label>
        <div class="row">
        <div class="col-sm-7">

            @* NON-MEMBER FEE NUMBER FIELD *@
            <div class="input-group mb-3">
                <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                <InputNumber step="any" min=0 class="form-control" @bind-Value=activeClass.NonMemberPrice />
            </div>

        </div>
    </div>
    </div>

    </div>
    </div>
            
    <h3 class="mb-4 mt-4">Enrolled Patrons</h3>

    @* ENROLLMENT LIST CARD *@
    <div class="card mb-4 shadow">
    <div class="card-header">Enrollment status</div>
    <div class="card-body">

        @* SEAT LIMIT NUMBER INPUT *@
        <label>Seat limit <i>(zero for no limit)</i>:</label>
        <InputNumber class="form-control" style="max-width: 6em;" @bind-Value=activeClass.MaxSeats min=0 step=1></InputNumber>

        @* ITERATE THROUGH ENROLLED USERS *@
        @foreach (var Enrollment in enrolled)
        {
            <div class="alert alert-secondary mt-3 @(Enrollment.UserEnabled ? "" : "text-decoration-line-through")">
                <div>

                @* DISPLAY USER MEMBERSHIP STATUS *@
                @if (!Enrollment.UserEnabled)
                {
                    <h5 class="badge bg-secondary" style="float: right;">Disabled</h5>
                } else if (Enrollment.IsMember)
                {
                    <h5 class="badge bg-success" style="float: right;">Member</h5>
                } else
                {
                    <h5 class="badge bg-info" style="float: right;">Non-member</h5>
                }

                @* DISPLAY USER DETAILS *@
                <span><i class="oi oi-person me-1" /> <a href="ManageUsers/@Enrollment.UserId">@Enrollment.FirstName @Enrollment.LastName</a> <i>(@Enrollment.Email)</i></span>
                
                </div>
                <div class="mt-2">

                @if (!Enrollment.UserEnabled) {  }
                else if (Enrollment.PassedYN is null)
                {
                    <label class="me-2">Mark grade:</label>
                    <button class="btn btn-success"
                        @onclick="() =>
                        {
                            gradeToMark = true;
                            userToGrade = Enrollment.UserId;
                            gradeModal!.Open();
                        }">Pass</button>
                    <button class="btn btn-danger"
                        @onclick="() =>
                        {
                            gradeToMark = false;
                            userToGrade = Enrollment.UserId;
                            gradeModal!.Open();
                        }">Fail</button>
                } else if (Enrollment.PassedYN == true)
                {
                    <button class="btn btn-success" disabled>Passed</button>
                } else
                {
                    <button class="btn btn-danger" disabled>Failed</button>
                }

                </div>
            </div>
        }

    </div>
    </div>

    @* PAGE RIGHT COLUMN ENDS HERE *@
    </div>
    <br />
    </div>
    </EditForm>

} else
{
    <div class="alert alert-danger">You are <strong>not</strong> an admin user and cannot access this page.</div>
}