@using CS341_YMCA.Helpers
@using CS341_YMCA.Services

@inject ClassRepository Classes

<tr class="@(Class.CanceledDate is null ? "" : "text-decoration-line-through text-secondary")">
<td style="white-space: nowrap;">@Class.ClassName</td>
<td>
    <h5>

        @* DISPLAY ENROLLMENT WINDOW STATUS BADGE *@
        @if (Class.MemberEnrollmentOpen && !Class.NonMemberEnrollmentOpen)
        {
            <span class="badge bg-info bg-info-glow">Members</span>
        } else if (Class.MemberEnrollmentOpen || Class.NonMemberEnrollmentOpen)
        {
            <span class="badge bg-success bg-success-glow">Open</span>
        } else
        {
            <span class="badge bg-danger bg-danger-glow">Closed</span>   
        }
        
    </h5>
</td>

@* DISPLAY # SEATS TAKEN OR DISPLAY DASH *@
@if (Class.SeatsTaken > 0)
{
    <td>@Class.SeatsTaken</td>
} else
{
    <td>&mdash;</td>
}

@* DISPLAY SEATS TAKEN VS. AVAILABLE *@
@if ((Class.MaxSeats ?? 0) != 0)
{
    <td>@Math.Max(Class.MaxSeats!.Value - Class.SeatsTaken, 0)</td>
    <td>@Class.MaxSeats</td>
} else
{
    @* DISPLAY INFINITY FOR NO SEAT LIMIT *@
    <td>&infin;</td>
    <td>&infin;</td>
}


<td>@Class.Created.ToShortDateString()<br />@Class.Created.ToShortTimeString()</td>
<td>@Class.Updated.ToShortDateString()<br />@Class.Updated.ToShortTimeString()</td>

<td style="white-space: nowrap;">

    @* CLASS EDITOR LINK *@
    <a href="ManageClasses/@Class.Id" class="btn btn-primary">Editor</a>
    @* VIEW CLASS LINK *@
    <a href="Enroll/@Class.Id" class="btn btn-secondary">Enrollment page</a>

</td>
</tr>

@code
{
    /// <summary>
    /// Class displayed in the list item.
    /// </summary>
    [Parameter]
    public ClassDBO Class { get; set; } = new();

    /// <summary>
    /// DBO of the currently logged in user.
    /// </summary>
    [CascadingParameter]
    public SiteUserDBO? LoggedIn { get; set; }
}

<style>
    .bg-success-glow
    {
        box-shadow: 0 0 0.2em 0.2em #badfba;
    }
    .bg-danger-glow
    {
        box-shadow: 0 0 0.2em 0.2em #e2afc0;
    }
    .bg-info-glow
    {
        box-shadow: 0 0 0.2em 0.2em #bad6df;
    }
</style>